{{#each color as |colorObj|}}

    <div class="inner-content">
      <div id="editColor1" class="small-square" style="background-color:{{colorify colorObj 0}}"></div>
      <div id="editColor2" class="small-square" style="background-color:{{colorify colorObj 1}}"></div>
      <div id="editColor3" class="small-square" style="background-color:{{colorify colorObj 2}}"></div>
      <div id="editColor4" class="small-square" style="background-color:{{colorify colorObj 3}}"></div>
      <div id="editColor5" class="small-square" style="background-color:{{colorify colorObj 4}}"></div>
    </div>

{{/each}}
